<app-math-template>
  <div id="mathContentCenter" class="pt-2">
    <form [formGroup]="arithmeticForm" (ngSubmit)="solve()" class="mb-2">
      <div class="form-group d-flex grip">
        <button type="button" class="btn btn-outline-primary d-flex j-c-c a-i-c" (click)="config = !config">
          <i class='bx bx-cog'></i>
        </button>
        <input type="text" class="form-control mr-2" name="expression" formControlName="expression" required />
        <button class="btn btn-outline-primary d-flex j-c-c a-i-c" type="submit">
          <i class='bx bx-calculator'></i>
          <span>calcular</span>
        </button>
      </div>
      <app-methods-arithmetic [arithmeticForm]="arithmeticForm" [config]="config"></app-methods-arithmetic>
    </form>
    <hr />
    <section>
      <div class="topico-content" id="topico-result">
        <div class="topico-group">
          <h5 class="topico">Resultado:</h5>
          <div class="f-r topico-down-up">
            <i class='bx bx-caret-down-circle bx-sm bx-fade-down-hover'></i>
          </div>
        </div>
        <div class="topico-body">
          <ng-container *ngFor="let step of mathResult.steps">
            <section>
              <div>{{ step.message }}</div>
              <div class="text-center w-100" [innerHTML]="step.html"></div>
            </section>
          </ng-container>
        </div>
      </div>
      <hr />
      <section class="p-2 bg-def rounded">
        <p class="t-j">
          <strong>A aritmética</strong> (da palavra grega ἀριθμός, arithmós,[a] "número") é o ramo mais elementar e
          antigo da matemática, lida com as operações possíveis entre os números; é utilizada por quase todo ser humano:
          seja em tarefas cotidianas, seja em tarefas científicas ou negociais. As quatro operações matemáticas mais
          elementares (adição, subtração, multiplicação e divisão) são a aritmética elementar.
        </p>
      </section>
      <hr />
      <section>
        <div class="topico-group">
          <h5 class="topico">
            <i class="bx bx-info"></i>
            <span>Intruções:</span>
          </h5>
          <div class="f-r topico-down-up">
            <i class='bx bx-caret-down-circle bx-sm bx-fade-down-hover'></i>
          </div>
        </div>
        <div class="topico-body">
          <ol>
            <li class="t-j">
              Ensira a expressão aritmética no campo acima.
            </li>
            <li class="t-j">
              Opcional: fazer as configurações de resolução, caso não faças o sistema irá fazer de forma aliatória.
            </li>
            <li class="t-j">
              Clicar no butão (calcular)
            </li>
          </ol>
          <app-arithmetic-exemplo></app-arithmetic-exemplo>
        </div>
      </section>
    </section>
  </div>
</app-math-template>
