<section class="arith-exemple" id="arith-exemple-1">
  <div class="arith-key">
    <div class="arith-expression d-flex g-0-5r">
      <strong>1. Expressão:</strong>
      <span id="exp-1">3/5+2/3</span>
    </div>
    <div class="arith-copy" data-exp="exp-1">
      <button class="btn btn-outline-primary btn-sm">
        <i class='bx bx-copy'></i>
      </button>
    </div>
  </div>
  <div class="arith-view">
    <div class="fraction-arithmetic">
      <div class="fraction">
        <div class="numerator">3</div>
        <div class="separator"></div>
        <div class="denominator">5</div>
      </div>
      <div class="fraction">
        <div class="signal plus">+</div>
        <div class="numerator">2</div>
        <div class="separator"></div>
        <div class="denominator">3</div>
      </div>
    </div>
  </div>
</section>

<section class="arith-exemple mt-3" id="arith-exemple-2">
  <div class="arith-key">
    <div class="arith-expression d-flex g-0-5r">
      <strong>2. Expressão:</strong>
      <span id="exp-2">-2/3-5/2</span>
    </div>
    <div class="arith-copy" data-exp="exp-2">
      <button class="btn btn-outline-primary btn-sm">
        <i class='bx bx-copy'></i>
      </button>
    </div>
  </div>
  <div class="arith-view">
    <div class="fraction-arithmetic">
      <div class="fraction">
        <div class="signal">-</div>
        <div class="numerator">2</div>
        <div class="separator"></div>
        <div class="denominator">3</div>
      </div>
      <div class="fraction">
        <div class="signal">-</div>
        <div class="numerator">5</div>
        <div class="separator"></div>
        <div class="denominator">2</div>
      </div>
    </div>
  </div>
</section>

<section class="arith-exemple mt-3" id="arith-exemple-3">
  <div class="arith-key">
    <div class="arith-expression d-flex g-0-5r">
      <strong>3. Expressão:</strong>
      <span id="exp-3">2/5+2/3+5/2+2/7</span>
    </div>
    <div class="arith-copy" data-exp="exp-3">
      <button class="btn btn-outline-primary btn-sm">
        <i class='bx bx-copy'></i>
      </button>
    </div>
  </div>
  <div class="arith-view">
    <div class="fraction-arithmetic">
      <div class="fraction">
        <div class="numerator">2</div>
        <div class="separator"></div>
        <div class="denominator">5</div>
      </div>
      <div class="fraction">
        <div class="signal plus">+</div>
        <div class="numerator">2</div>
        <div class="separator"></div>
        <div class="denominator">3</div>
      </div>
      <div class="fraction">
        <div class="signal plus">+</div>
        <div class="numerator">5</div>
        <div class="separator"></div>
        <div class="denominator">2</div>
      </div>
      <div class="fraction">
        <div class="signal plus">+</div>
        <div class="numerator">2</div>
        <div class="separator"></div>
        <div class="denominator">7</div>
      </div>
    </div>
  </div>
</section>

<section class="arith-exemple mt-3" id="arith-exemple-4">
  <div class="arith-key">
    <div class="arith-expression d-flex g-0-5r">
      <strong>4. Expressão:</strong>
      <span id="exp-4">-3/5-7/3-5/2-8/3</span>
    </div>
    <div class="arith-copy" data-exp="exp-4">
      <button class="btn btn-outline-primary btn-sm">
        <i class='bx bx-copy'></i>
      </button>
    </div>
  </div>
  <div class="arith-view">
    <div class="fraction-arithmetic">
      <div class="fraction">
        <div class="signal">-</div>
        <div class="numerator">3</div>
        <div class="separator"></div>
        <div class="denominator">5</div>
      </div>
      <div class="fraction">
        <div class="signal">-</div>
        <div class="numerator">7</div>
        <div class="separator"></div>
        <div class="denominator">3</div>
      </div>
      <div class="fraction">
        <div class="signal">-</div>
        <div class="numerator">5</div>
        <div class="separator"></div>
        <div class="denominator">2</div>
      </div>
      <div class="fraction">
        <div class="signal">-</div>
        <div class="numerator">8</div>
        <div class="separator"></div>
        <div class="denominator">3</div>
      </div>
    </div>
  </div>
</section>

<section class="arith-exemple mt-3" id="arith-exemple-5">
  <div class="arith-key">
    <div class="arith-expression d-flex g-0-5r">
      <strong>5. Expressão:</strong>
      <span id="exp-1">7/5+2/3-5/2-5/8</span>
    </div>
    <div class="arith-copy" data-exp="exp-1">
      <button class="btn btn-outline-primary btn-sm">
        <i class='bx bx-copy'></i>
      </button>
    </div>
  </div>
  <div class="arith-view">
    <div class="fraction-arithmetic">
      <div class="fraction">
        <div class="numerator">7</div>
        <div class="separator"></div>
        <div class="denominator">5</div>
      </div>
      <div class="fraction">
        <div class="signal plus">+</div>
        <div class="numerator">2</div>
        <div class="separator"></div>
        <div class="denominator">3</div>
      </div>
      <div class="fraction">
        <div class="signal plus">-</div>
        <div class="numerator">5</div>
        <div class="separator"></div>
        <div class="denominator">2</div>
      </div>
      <div class="fraction">
        <div class="signal plus">-</div>
        <div class="numerator">5</div>
        <div class="separator"></div>
        <div class="denominator">8</div>
      </div>
    </div>
  </div>
</section>
