<section class="panel-example" id="panel-example-1">
  <div class="panel-key">
    <div class="panel-expression d-flex g-0-5r">
      <strong>1. Expressão:</strong>
      <span id="exp-1">3/5+2/3</span>
    </div>
    <div class="panel-copy" data-exp="exp-1" (click)="copyExpression('exp-1')"
      ngbTooltip="copiar expressão" [closeDelay]="500" placement="start">
      <button class="btn btn-outline-primary btn-sm btn-copy" id="btn-exp-1">
        <i class='bx bx-copy'></i>
      </button>
    </div>
  </div>
  <div class="panel-view">
    <div class="fraction-arithmetic">
      <div class="fraction">
        <div class="numerator">3</div>
        <div class="separator"></div>
        <div class="denominator">5</div>
      </div>
      <div class="fraction">
        <div class="signal plus">+</div>
        <div class="numerator">2</div>
        <div class="separator"></div>
        <div class="denominator">3</div>
      </div>
    </div>
  </div>
</section>

<section class="panel-example mt-3" id="panel-example-2">
  <div class="panel-key">
    <div class="panel-expression d-flex g-0-5r">
      <strong>2. Expressão:</strong>
      <span id="exp-2">-2/3-5/2</span>
    </div>
    <div class="panel-copy" data-exp="exp-2" (click)="copyExpression('exp-2')"
      ngbTooltip="copiar expressão" [closeDelay]="500" placement="start">
      <button class="btn btn-outline-primary btn-sm btn-copy" id="btn-exp-2">
        <i class='bx bx-copy'></i>
      </button>
    </div>
  </div>
  <div class="panel-view">
    <div class="fraction-arithmetic">
      <div class="fraction">
        <div class="signal">-</div>
        <div class="numerator">2</div>
        <div class="separator"></div>
        <div class="denominator">3</div>
      </div>
      <div class="fraction">
        <div class="signal">-</div>
        <div class="numerator">5</div>
        <div class="separator"></div>
        <div class="denominator">2</div>
      </div>
    </div>
  </div>
</section>

<section class="panel-example mt-3" id="panel-example-3">
  <div class="panel-key">
    <div class="panel-expression d-flex g-0-5r">
      <strong>3. Expressão:</strong>
      <span id="exp-3">2/5+2/3+5/2+2/7</span>
    </div>
    <div class="panel-copy" data-exp="exp-3" (click)="copyExpression('exp-3')"
      ngbTooltip="copiar expressão" [closeDelay]="500" placement="start">
      <button class="btn btn-outline-primary btn-sm btn-copy" id="btn-exp-3">
        <i class='bx bx-copy'></i>
      </button>
    </div>
  </div>
  <div class="panel-view">
    <div class="fraction-arithmetic">
      <div class="fraction">
        <div class="numerator">2</div>
        <div class="separator"></div>
        <div class="denominator">5</div>
      </div>
      <div class="fraction">
        <div class="signal plus">+</div>
        <div class="numerator">2</div>
        <div class="separator"></div>
        <div class="denominator">3</div>
      </div>
      <div class="fraction">
        <div class="signal plus">+</div>
        <div class="numerator">5</div>
        <div class="separator"></div>
        <div class="denominator">2</div>
      </div>
      <div class="fraction">
        <div class="signal plus">+</div>
        <div class="numerator">2</div>
        <div class="separator"></div>
        <div class="denominator">7</div>
      </div>
    </div>
  </div>
</section>

<section class="panel-example mt-3" id="panel-example-4">
  <div class="panel-key">
    <div class="panel-expression d-flex g-0-5r">
      <strong>4. Expressão:</strong>
      <span id="exp-4">-3/5-7/3-5/2-8/3</span>
    </div>
    <div class="panel-copy" data-exp="exp-4" (click)="copyExpression('exp-4')"
      ngbTooltip="copiar expressão" [closeDelay]="500" placement="start">
      <button class="btn btn-outline-primary btn-sm btn-copy" id="btn-exp-4">
        <i class='bx bx-copy'></i>
      </button>
    </div>
  </div>
  <div class="panel-view">
    <div class="fraction-arithmetic">
      <div class="fraction">
        <div class="signal">-</div>
        <div class="numerator">3</div>
        <div class="separator"></div>
        <div class="denominator">5</div>
      </div>
      <div class="fraction">
        <div class="signal">-</div>
        <div class="numerator">7</div>
        <div class="separator"></div>
        <div class="denominator">3</div>
      </div>
      <div class="fraction">
        <div class="signal">-</div>
        <div class="numerator">5</div>
        <div class="separator"></div>
        <div class="denominator">2</div>
      </div>
      <div class="fraction">
        <div class="signal">-</div>
        <div class="numerator">8</div>
        <div class="separator"></div>
        <div class="denominator">3</div>
      </div>
    </div>
  </div>
</section>

<section class="panel-example mt-3" id="panel-example-5">
  <div class="panel-key">
    <div class="panel-expression d-flex g-0-5r">
      <strong>5. Expressão:</strong>
      <span id="exp-5">7/5+2/3-5/2-5/8</span>
    </div>
    <div class="panel-copy" data-exp="exp-5" (click)="copyExpression('exp-5')"
      ngbTooltip="copiar expressão" [closeDelay]="500" placement="start">
      <button class="btn btn-outline-primary btn-sm btn-copy" id="btn-exp-5">
        <i class='bx bx-copy'></i>
      </button>
    </div>
  </div>
  <div class="panel-view">
    <div class="fraction-arithmetic">
      <div class="fraction">
        <div class="numerator">7</div>
        <div class="separator"></div>
        <div class="denominator">5</div>
      </div>
      <div class="fraction">
        <div class="signal plus">+</div>
        <div class="numerator">2</div>
        <div class="separator"></div>
        <div class="denominator">3</div>
      </div>
      <div class="fraction">
        <div class="signal plus">-</div>
        <div class="numerator">5</div>
        <div class="separator"></div>
        <div class="denominator">2</div>
      </div>
      <div class="fraction">
        <div class="signal plus">-</div>
        <div class="numerator">5</div>
        <div class="separator"></div>
        <div class="denominator">8</div>
      </div>
    </div>
  </div>
</section>
