header{
  height: max-content;
}

:root{
  --bg-list-group-item: #ccc;
}

body{
  background: white;
}

#mathContentCenter article p{
  text-align: justify;
  text-indent: 30px;
}

#mathContentCenter article ul li{
  text-align: justify;
}

.border-lateral{
  border-right: 1px solid rgb(73, 70, 70);
  border-left: 1px solid rgb(73, 70, 70);
  position: relative;
  box-sizing: border-box;
  min-width: 80%;
}

.total-h{
  min-height: 90vh;
}

.topico-describe p{
  text-align: justify;
}

.grid{
  display: flex;
}

.grid-item{
  position: relative;
  box-sizing: border-box;
}

.grid-1{
  flex-grow: 1;
}

.grid-2{
  flex-grow: 3;
}

.grid-3{
  flex-grow: 4;
}

.w-m-l{
  min-width: 200px;
}

.w-m-l-f{
  min-width: 50px;
}

.fixed{
  position: fixed;
}

.list-group-item.b-r-n{
  border-right: none;
}

.list-group .list-group-item{
  border-radius: 0%;
}

.list-group.sub .list-group-item{
  border: none;
}

.list-group ul{
  width: 100%;
}

.t-d-n{
  text-decoration: none;
}

.topico-group{
  position: relative;
  padding-bottom: 0.5rem;
  align-items: center;
}

.f-r, .f-r-s{
  position: absolute;
  right: 2%;
}

.f-r{
  top: 0%;
}

.btn-logaut{
  position: absolute;
  right: 0;
}
