<app-math-template>
  <div id="mathContentCenter" class="pt-2">
    <article>
      <div class="topico-group">
        <h5 class="topico">Matemática</h5>
        <div class="f-r topico-down-up">
          <i class='bx bx-caret-down-circle bx-sm'></i>
        </div>
      </div>
      <section class="topico-body">
        <div class="t-j">
          <i class='bx-pull-left bx bxs-quote-alt-left bx-xs'></i>
          <span>
            <strong>Etimologia:</strong> surgiu dos termos gregos, μάθημα, transliterado máthēma, ciência,
            conhecimento ou aprendizagem e μαθηματικός, transliterado mathēmatikós, inclinado a aprender.
          </span>
        </div>
        <div class="t-j mt-2">
          <i class='bx-pull-left bx bxs-quote-alt-left bx-xs'></i>
          <span>
            <strong>Lógica:</strong> é a ciência do raciocínio lógico e abstrato, que estuda quantidades (teoria dos
            números), espaço e medidas (geometria), estruturas, variações e estatística.
          </span>
        </div>
      </section>
    </article>
    <hr />
    <article>
      <div class="topico-group">
        <h5 class="topico">Eimath</h5>
        <div class="f-r topico-down-up">
          <i class='bx bx-caret-down-circle bx-sm'></i>
        </div>
      </div>
      <section class="topico-body">
        <div>
          <i class='bx-pull-left bx bxs-quote-alt-left bx-xs'></i>
          <span>
            <strong class="subtopico">O eimath </strong>
             é um sistema desenvolvido para resolver especificamente problemas de matemática.
          </span>
        </div>
        <div>
          <span class="subtopico">O que o eimath tem para oferecer:</span>
          <ul>
            <li>
              <i class='bx bx-checkbox-square'></i>
              <span>Resolução de problemas de matemática, com permutações entre os métedos (ou maneira) de
                resolução.</span>
            </li>
            <li class="mt-1">
              <i class='bx bx-checkbox-square'></i>
              <span>Interface do eimath é relativamente amigavel e simples de utilização.</span>
            </li>
            <li class="mt-1">
              <i class='bx bx-checkbox-square'></i>
              <span>Serviços e bibliotecas para utilização nos seus projectos de forma gratuita e
                pago.</span>
            </li>
          </ul>
        </div>
      </section>
    </article>
    <hr />
    <article>
      <div class="topico-group">
        <h5 class="topico">Expressão regular</h5>
        <div class="f-r topico-down-up">
          <i class='bx bx-caret-down-circle bx-sm'></i>
        </div>
      </div>
      <section class="topico-body">
        <div>
          <em class="subtopico">Conceitos:</em>
          <ul>
            <li>
              <i class='bx bx-checkbox-square'></i>
              <span>Em ciência da computação, uma expressão regular ou "Regex"
                (ou os estrangeirismos regex ou regexp, abreviação do inglês regular expression)
                provê uma forma concisa e flexível de identificar cadeias de caracteres de interesse,
                como caracteres particulares, palavras ou padrões de caracteres.</span>
            </li>
            <li class="mt-1">
              <i class='bx bx-checkbox-square'></i>
              <span>Expressões regulares são padrões utilizados para selecionar
                combinações de caracteres em uma string.</span>
            </li>
          </ul>
        </div>
      </section>
    </article>
  </div>
</app-math-template>
