<app-math-template>
  <div id="mathContentCenter" class="pt-2">
    <form [formGroup]="radicalForm" (ngSubmit)="solve()" class="mb-2">
      <div class="form-group d-flex grip">
        <button
          type="button"
          class="btn btn-outline-primary d-flex j-c-c a-i-c"
        >
          <i class="bx bx-cog"></i>
        </button>
        <input
          type="text"
          class="form-control mr-2"
          name="expression"
          formControlName="expression"
          required
        />
        <button
          class="btn btn-outline-primary d-flex j-c-c a-i-c"
          type="submit"
        >
          <i class="bx bx-calculator"></i>
          <span>calcular</span>
        </button>
      </div>
    </form>
    <hr />
    <section>
      <div class="topico-content" id="topico-result">
        <div class="topico-group">
          <h5 class="topico">Resultado:</h5>
          <div class="f-r topico-down-up">
            <i class="bx bx-caret-down-circle bx-sm bx-fade-down-hover"></i>
          </div>
        </div>
        <div class="topico-body">
          <ng-container *ngFor="let step of mathResult.steps; index as i">
            <section *ngIf="i > 0; else noMarin" class="mt-2">
              <div>{{ step.message }}</div>
              <div class="text-center w-100" [innerHTML]="step.html"></div>
            </section>
            <ng-template #noMarin>
              <section>
                <div>{{ step.message }}</div>
                <div class="text-center w-100" [innerHTML]="step.html"></div>
              </section>
            </ng-template>
          </ng-container>
        </div>
      </div>
    </section>
    <hr />
    <section class="p-2 bg-def rounded">
      <p class="t-j">
        Os <strong>radicais</strong> são uma forma de representação matemática em que os temos o
        produto a partir de uma multiplicação onde os fatores são iguais em seu
        fundamento.
      </p>
    </section>
    <hr />
    <section class="mb-3">
      <div class="topico-group">
        <h5 class="topico">
          <i class="bx bx-info"></i>
          <span>Intruções:</span>
        </h5>
        <div class="f-r topico-down-up">
          <i class="bx bx-caret-down-circle bx-sm bx-fade-down-hover"></i>
        </div>
      </div>
      <div class="topico-body">
        <ol>
          <li class="t-j">Ensira a expressão aritmética no campo acima.</li>
          <li class="t-j">
            Opcional: fazer as configurações de resolução, caso não faças o
            sistema irá fazer de forma aliatória.
          </li>
          <li class="t-j">Clicar no butão (calcular)</li>
        </ol>
        <app-radical-exemplo></app-radical-exemplo>
      </div>
    </section>
  </div>
</app-math-template>
